body{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: rgba(43, 128, 246, 0.906);
}
header{
    font: normal 15px arial;
    color: white;
    text-align: center;
    text-shadow: 5px 5px 13px rgba(0, 0, 0, 0.61);
}
section{
    display: block;
    background-color: white;
    font: normal 20px arial;
    border-radius: 20px;
    width: 300pt;
    height: 300pt;
    margin: auto;
    padding: 10pt;
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.25);
}

footer{
    text-align: center;
    font: italic 15px arial;
    color: white;
    text-shadow: 5px 5px 13px rgba(0, 0, 0, 0.61);
}

div#res{
    display: block;
    text-align: center;
    width: 250px;
    margin: auto;
}

img#foto{
    display: block;
    border-radius: 50%;
    text-align: center;
    height: 230px;
    width: 230px;
    margin: auto;
}