body{
    background-color: rgba(43, 128, 246, 0.906);
    font: normal 15pt Arial;
}
header{
    color: white;
    text-align: center;
    font: normal 15pt Arial;
    text-shadow: 1px 1px 9px rgba(5, 5, 5, 0.545);
}
section{
    display: flex;
    background-color: white;
    border-radius: 10%;
    height: 300pt;
    width: 300pt;
    padding: 40px;
    margin: auto;
    box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.542);
    font: normal 15pt arial;
    flex-direction: column;
}
footer{
    color: white;
    text-align: center;
    font: italic 15pt Arial;
    text-shadow: 1px 1px 9px rgba(5, 5, 5, 0.545);
    
}
div#form{
    text-align: center;
}
div#res {
    text-align: center;
}
input#verificar{
    background-color: rgba(43, 128, 246, 0.906);
    border-radius: 30px;
    outline: 0;
    border: none;
    padding: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.218);
}
input#numero{
    text-align: center;
    width: 50px;
    height: 30px;
}
select#lista{
    display: block;
    margin: auto;
    margin-top: 30px;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    border: none;
    background-color: rgba(202, 201, 201, 0.386);
}